.add-memory
  padding: 20px 10px

  p
    font-size: 10px

  a
    text-decoration: none

  a:hover
    text-decoration: none

  img
    background-color: transparent
    border-radius: 50%
    max-width: 100px
    margin-bottom: 20px
    webkit-transition: all 300ms cubic-bezier(.55,0,.1,1)
    -moz-transition: all 300ms cubic-bezier(.55,0,.1,1)
    -ms-transition: all 300ms cubic-bezier(.55,0,.1,1)
    -o-transition: all 300ms cubic-bezier(.55,0,.1,1)
    transition: all 300ms cubic-bezier(.55,0,.1,1)

  img:hover
    background-color: $primary-color
    webkit-transition: all 300ms cubic-bezier(.55,0,.1,1)
    -moz-transition: all 300ms cubic-bezier(.55,0,.1,1)
    -ms-transition: all 300ms cubic-bezier(.55,0,.1,1)
    -o-transition: all 300ms cubic-bezier(.55,0,.1,1)
    transition: all 300ms cubic-bezier(.55,0,.1,1)

.field
  margin: 20px 14px

input, textarea
  padding: 12px
  outline: none
  max-width: 400px
  width: 100%
  text-align: center
  border: 1px solid $primary-color

.submit input
  max-width: 400px
  width: 90%
  padding: 12px
  border: none
  color: $white
  webkit-transition: all 400ms cubic-bezier(.55,0,.1,1)
  -moz-transition: all 400ms cubic-bezier(.55,0,.1,1)
  -ms-transition: all 400ms cubic-bezier(.55,0,.1,1)
  -o-transition: all 400ms cubic-bezier(.55,0,.1,1)
  transition: all 400ms cubic-bezier(.55,0,.1,1)

.submit input:hover
  webkit-transition: all 400ms cubic-bezier(.55,0,.1,1)
  -moz-transition: all 400ms cubic-bezier(.55,0,.1,1)
  -ms-transition: all 400ms cubic-bezier(.55,0,.1,1)
  -o-transition: all 400ms cubic-bezier(.55,0,.1,1)
  transition: all 400ms cubic-bezier(.55,0,.1,1)

.header
  padding: 30px
  background-size: cover
  background-position: center
  color: $white
  display: flex
  align-items: center
  justify-content: center


/* Portrait phones and smaller */
@media (max-width: 480px)
  .add-memory
    img
      max-width: 80px

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px)
  .add-memory
    img
      max-width: 100px

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px)
  .add-memory
    img
      max-width: 120px

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px)


/* Large desktops and laptops */
@media (min-width: 1200px)
