.achievement-header
  background-image: url("cover-achievements.jpg")
  min-height: 240px

.submit-pink input
  background-color: $main-pink

.submit-pink input:hover
  background-color: $main-pink-hover

.row.title-bar-pink
  padding: 20px
  background-color: $main-pink
  color: $primary-color
  text-transform: uppercase

  h3
    color: $primary-color
    margin: 0

.btn-pink
  background-color: $main-pink
  padding: 10px
  width: 100%
  color: $white
  position: absolute
  bottom: 0
  left: 0

  a
    color: $white

.btn-pink:hover
  background-color: $main-pink-hover

  a
    color: $white
