.trip-header
  background-image: url("cover-trips.jpg")
  min-height: 240px

.submit-green input
  background-color: $main-green

.submit-green input:hover
  background-color: $main-green-hover

.row.title-bar-green
  padding: 20px
  background-color: $main-green
  color: $primary-color
  text-transform: uppercase
  margin-bottom: 40px!important

  h3
    color: $primary-color
    margin: 0
