.concert-header
  background-image: url("cover-concerts.jpg")
  min-height: 240px

.submit-blue input
  background-color: $main-blue

.submit-blue input:hover
  background-color: $main-blue-hover

.row.title-bar-blue
  padding: 20px
  background-color: $main-blue
  color: $primary-color
  text-transform: uppercase

  h3
    color: $primary-color
    margin: 0
