.concert-header
  background-image: url("cover-concerts.jpg")
  min-height: 240px

  img
    max-width: 100px

.submit-blue input
  background-color: $main-blue

.submit-blue input:hover
  background-color: $main-blue-hover

.row.title-bar-blue
  padding: 20px
  background-color: $main-blue

.btn-blue
  background-color: $main-blue
  padding: 10px
  width: 100%
  color: $white
  position: absolute
  bottom: 0
  left: 0

  a
    color: $white

.btn-blue:hover
  background-color: $main-blue-hover

  a
    color: $white

@media (max-width: 480px)
  .concert-header
    min-height: 200px

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px)
  .concert-header
    min-height: 320px

  .concert-header
    img
      max-width: 120px

/* Large desktops and laptops */
@media (min-width: 992px)
  .concert-header
    min-height: 340px

  .concert-header
    img
      max-width: 150px
