/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import "nav"
@import "profile"

$font-stack: 'Open Sans', sans-serif
$primary-color: #324152
$white: #fff
$light-grey: #f8f8f8
$main-pink: #F16A6F
$main-green: #AFD476
$main-blue: #8FD3D4
$main-blue-dark: #2A3747

body
  font: 100% $font-stack
  color: $primary-color
  font-size: 16px
  overflow-x: hidden

a
  color: $primary-color

a:hover
  color: lighten( $primary-color, 10% )

.container-fluid
  padding-left: 0px
  padding-right: 0px

.row
  margin: 0 auto
  text-align: center

.col-sm-15, .col-xs-15
  width: 20%
  float: left

th
  text-align: left
  color: #88D0C7

td
  padding: 10px 10px 10px 0px

.hidden
  display: none
