// Place all the styles related to the Memories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-bar
  h3
    margin-bottom: 20px
    color: $white

.cards

.memory-card
  padding: 18px

  h4
    margin-bottom: 20px

.cards.col-md-4
  width: 28%
  margin: 1%

.cards.col-sm-12
  width: 80%
  margin-bottom: 20px

.memory-box
  background-color: $grey
  padding: 20px 20px 60px
  position: relative
  box-shadow: 1px 2px 8px 0px rgba(50, 50, 50, 0.4)
  float: none
  margin: 0 auto

.memory-box-single
  background-color: $grey
  padding: 40px
  position: relative
  box-shadow: 1px 2px 8px 0px rgba(50, 50, 50, 0.4)
  float: none
  margin: 0 auto

  img
    width: 100%
    border: 2px solid $white
    margin-bottom: 30px

  h4
    margin-bottom: 20px

.memory-details-single
  text-align: left
  margin: 0px 20px

  .fa
    margin-right: 8px

.memory-pin
  max-width: 40px
  position: absolute
  z-index: 9
  border-radius: 50%
  left: -2px
  top: -2px
  box-shadow: 1px 2px 8px 0px rgba(50, 50, 50, 0.4)

.memory-box-btns
  background-color: $main-pink
  height: 46px
  padding: 0
  float: none
  margin: 0 auto
  box-shadow: 1px 2px 8px 0px rgba(50, 50, 50, 0.4)

.edit-btn, .delete-btn
  padding: 12px

  a
    color: $white
    text-decoration: none

  a:hover
    color: $white
    text-decoration: none

  .fa
    color: $white
    margin-right: 5px

.edit-btn:hover, .delete-btn:hover
  background-color: $main-pink-hover

.edit-btn
  border-right: 1px solid $main-pink-hover

/* Portrait phones and smaller */
@media (max-width: 480px)
  .title-bar
    h3
      margin: 0px

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px)
  .title-bar
    h3
      margin: 10px

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px)

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px)


/* Large desktops and laptops */
@media (min-width: 1200px)
