$font-stack: 'Open Sans', sans-serif
$primary-color: #324152
$white: #fff
$main-pink: #F16A6F
$main-green: #AFD476
$main-blue: #8FD3D4

nav
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.5)
  padding: 10px

  img
    max-height: 50px

.navbar-default
  margin-bottom: 0px
  color: $white

.navbar-fixed-bottom
  color: $primary-color
